<% include partials/header %>




<div class="">
  <form class="" action="/index" method="POST">
    <label>New Todo</label>
    <input type="text" name="todo" value="todo">
    <input type="submit">
  </form>
</div>


<% include partials/footer %>
